body {
  color: #8ab4a3;
  background-color: #253a25;
}

button, select {
  color: #6e634f;
  background-color: #44382c;
}
button [id=overwrite], select [id=overwrite] {
  color: darkred;
}

.hover-highlight:hover {
  color: #a09582;
}

.hover-shadow:hover {
  box-shadow: 0px 2px 12px #1a1a1a;
}

.tab-container .button-container, .tab-container .button-container button {
  color: #63553d;
  background-color: #292119;
}
.tab-container .button-container:hover, .tab-container .button-container button:hover {
  color: #a09582;
}

.selected {
  background-color: #253a25 !important;
}

.container {
  background-color: #364e3a;
  border: 1px solid #417748;
}

.info {
  color: #518671;
}

.version-info {
  color: #518d68;
}

.lex-entry, .lex-body {
  color: #8ab4a3;
}
.lex-entry:hover {
  background: #44382c;
  color: #b8ad9d;
}

.tag-item, [id=entry-counter] {
  color: #a09582;
  background-color: #4b3d29;
}

.pronunciation {
  color: #518671;
}

hr {
  border: 1px solid #8ab4a3;
}

label {
  color: #518d68;
}

textarea, input {
  color: #8ab4a3 !important;
  background-color: #303d33;
}
textarea.pronunciation, input.pronunciation {
  background-color: transparent;
}
textarea.pronunciation:hover, input.pronunciation:hover {
  background-color: #91a58d;
}
textarea[type=checkbox], input[type=checkbox] {
  background-color: transparent;
  border: 0.15em solid #8ab4a3;
}
textarea[type=checkbox]::before, input[type=checkbox]::before {
  background-color: #bad8b0;
}

td {
  border: 1px solid #417748;
}

tr:nth-child(odd) {
  background-color: #303d33;
}
tr:nth-child(even) {
  background-color: #465a4b;
}

::-webkit-resizer {
  background-color: #4b3d29;
}
::-webkit-resizer:hover {
  background-color: #6e634f;
}
::-webkit-scrollbar-track {
  background-color: #253a25;
}
::-webkit-scrollbar-thumb {
  background-color: #4b3d29;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6e634f;
}

a {
  color: #bad8b0;
  transition: 0.5s;
}
a:hover {
  color: #a09582;
}

.ce-toolbar__settings-btn, .ce-toolbar__plus {
  color: #8ab4a3 !important;
}
.ce-toolbar:hover {
  background-color: #44382c !important;
}
.ce-conversion-tool {
  background-color: #44382c !important;
}
.ce-conversion-toolbar {
  background-color: #4b3d29 !important;
}
.ce-conversion-tool:hover {
  background-color: #518671 !important;
}
.ce-popover, .ce-popover--opened {
  background-color: #44382c !important;
}
.ce-popover__item {
  background-color: #44382c !important;
}
.ce-popover__item:hover {
  background-color: #518671 !important;
}
.ce-inline-tool {
  background-color: #4b3d29 !important;
}
.ce-inline-tool:hover {
  background-color: #518671 !important;
}
.ce-inline-toolbar, .ce-inline-toolbar__dropdown, .ce-inline-toolbar__buttons {
  background-color: #4b3d29 !important;
}
.ce-paragraph[data-placeholder]:empty::before {
  color: #518671 !important;
}

.tc-popover {
  --color-border: $link-text !important;
  --color-background: $tag-bg !important;
  --color-background-hover: $button-bg !important;
  --color-background-confirm: #812b2b !important;
  --color-background-confirm-hover: #a12929 !important;
  --color-text-confirm: white !important;
}
.tc-wrap {
  --color-background: rgba(144, 144, 144, 0.396) !important;
  --color-text-secondary: $ipa-text !important;
  --color-border: $link-text !important;
}

/*# sourceMappingURL=glade.css.map */
