body {
  color: #d1dee2;
  background-color: #00363d;
}

button, select {
  color: #c2c9c9;
  background-color: #61828d;
}
button [id=overwrite], select [id=overwrite] {
  color: darkred;
}

.hover-highlight:hover {
  color: white;
}

.hover-shadow:hover {
  box-shadow: 0px 2px 12px #242424;
}

.tab-container .button-container, .tab-container .button-container button {
  color: #5d8a92;
  background-color: #082329;
}
.tab-container .button-container:hover, .tab-container .button-container button:hover {
  color: white;
}

.selected {
  background-color: #00363d !important;
}

.container {
  background-color: #223f48;
  border: 1px solid #98a9aa;
}

.info {
  color: #6da3aa;
}

.version-info {
  color: #dfe3e6;
}

.lex-entry, .lex-body {
  color: #abd6d3;
}
.lex-entry:hover {
  background: #4b6b70;
  color: #abd6d3;
}

.tag-item, [id=entry-counter] {
  color: #b3cdd3;
  background-color: #60888f;
}

.pronunciation {
  color: #538b92;
}

hr {
  border: 1px solid #d1dee2;
}

label {
  color: #dfe3e6;
}

textarea, input {
  color: #d1dee2 !important;
  background-color: #36565c;
}
textarea.pronunciation, input.pronunciation {
  background-color: transparent;
}
textarea.pronunciation:hover, input.pronunciation:hover {
  background-color: #81a1a7;
}
textarea[type=checkbox], input[type=checkbox] {
  background-color: transparent;
  border: 0.15em solid #d1dee2;
}
textarea[type=checkbox]::before, input[type=checkbox]::before {
  background-color: #a1ced7;
}

td {
  border: 1px solid #98a9aa;
}

tr:nth-child(odd) {
  background-color: #36565c;
}
tr:nth-child(even) {
  background-color: #49747c;
}

::-webkit-resizer {
  background-color: #708d94;
}
::-webkit-resizer:hover {
  background-color: #78afbc;
}
::-webkit-scrollbar-track {
  background-color: #00363d;
}
::-webkit-scrollbar-thumb {
  background-color: #708d94;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #78afbc;
}

a {
  color: #a1ced7;
  transition: 0.5s;
}
a:hover {
  color: white;
}

.ce-toolbar__settings-btn, .ce-toolbar__plus {
  color: #d1dee2 !important;
}
.ce-toolbar:hover {
  background-color: #61828d !important;
}
.ce-conversion-tool {
  background-color: #61828d !important;
}
.ce-conversion-toolbar {
  background-color: #60888f !important;
}
.ce-conversion-tool:hover {
  background-color: #6da3aa !important;
}
.ce-popover, .ce-popover--opened {
  background-color: #61828d !important;
}
.ce-popover__item {
  background-color: #61828d !important;
}
.ce-popover__item:hover {
  background-color: #6da3aa !important;
}
.ce-inline-tool {
  background-color: #60888f !important;
}
.ce-inline-tool:hover {
  background-color: #6da3aa !important;
}
.ce-inline-toolbar, .ce-inline-toolbar__dropdown, .ce-inline-toolbar__buttons {
  background-color: #60888f !important;
}
.ce-paragraph[data-placeholder]:empty::before {
  color: #538b92 !important;
}

.tc-popover {
  --color-border: $link-text !important;
  --color-background: $tag-bg !important;
  --color-background-hover: $button-bg !important;
  --color-background-confirm: #812b2b !important;
  --color-background-confirm-hover: #a12929 !important;
  --color-text-confirm: white !important;
}
.tc-wrap {
  --color-background: rgba(144, 144, 144, 0.396) !important;
  --color-text-secondary: $ipa-text !important;
  --color-border: $link-text !important;
}

/* Lexicanter, a constructed language organization app.
   Copyright (C) 2023 Ethan Ray.
   See GNU General Public License Version 3.  */

/*# sourceMappingURL=marine.css.map */
