body {
  color: #b97d91;
  background-color: #4b041e;
}

button, select {
  color: #ad687b;
  background-color: #751d40;
}
button [id=overwrite], select [id=overwrite] {
  color: darkred;
}

.hover-highlight:hover {
  color: #e8d1d7;
}

.hover-shadow:hover {
  box-shadow: 0px 2px 12px #343434;
}

.tab-container .button-container, .tab-container .button-container button {
  color: #a54358;
  background-color: #330609;
}
.tab-container .button-container:hover, .tab-container .button-container button:hover {
  color: #e8d1d7;
}

.selected {
  background-color: #4b041e !important;
}

.container {
  background-color: #692633;
  border: 1px solid #b1656f;
}

.info {
  color: #b65e79;
}

.version-info {
  color: #d38e9f;
}

.lex-entry, .lex-body {
  color: #b97d91;
}
.lex-entry:hover {
  background: #461d27;
  color: #d5aab5;
}

.tag-item, [id=entry-counter] {
  color: #b97d91;
  background-color: #872850;
}

.pronunciation {
  color: #a0556d;
}

hr {
  border: 1px solid #b97d91;
}

label {
  color: #d38e9f;
}

textarea, input {
  color: #b97d91 !important;
  background-color: #4d1929;
}
textarea.pronunciation, input.pronunciation {
  background-color: transparent;
}
textarea.pronunciation:hover, input.pronunciation:hover {
  background-color: #8c3f49;
}
textarea[type=checkbox], input[type=checkbox] {
  background-color: transparent;
  border: 0.15em solid #b97d91;
}
textarea[type=checkbox]::before, input[type=checkbox]::before {
  background-color: #f4a2b4;
}

td {
  border: 1px solid #b1656f;
}

tr:nth-child(odd) {
  background-color: #4d1929;
}
tr:nth-child(even) {
  background-color: #74263e;
}

::-webkit-resizer {
  background-color: #6c3644;
}
::-webkit-resizer:hover {
  background-color: #994459;
}
::-webkit-scrollbar-track {
  background-color: #4b041e;
}
::-webkit-scrollbar-thumb {
  background-color: #6c3644;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #994459;
}

a {
  color: #f4a2b4;
  transition: 0.5s;
}
a:hover {
  color: #e8d1d7;
}

.ce-toolbar__settings-btn, .ce-toolbar__plus {
  color: #b97d91 !important;
}
.ce-toolbar:hover {
  background-color: #751d40 !important;
}
.ce-conversion-tool {
  background-color: #751d40 !important;
}
.ce-conversion-toolbar {
  background-color: #872850 !important;
}
.ce-conversion-tool:hover {
  background-color: #b65e79 !important;
}
.ce-popover, .ce-popover--opened {
  background-color: #751d40 !important;
}
.ce-popover__item {
  background-color: #751d40 !important;
}
.ce-popover__item:hover {
  background-color: #b65e79 !important;
}
.ce-inline-tool {
  background-color: #872850 !important;
}
.ce-inline-tool:hover {
  background-color: #b65e79 !important;
}
.ce-inline-toolbar, .ce-inline-toolbar__dropdown, .ce-inline-toolbar__buttons {
  background-color: #872850 !important;
}
.ce-paragraph[data-placeholder]:empty::before {
  color: #a0556d !important;
}

.tc-popover {
  --color-border: $link-text !important;
  --color-background: $tag-bg !important;
  --color-background-hover: $button-bg !important;
  --color-background-confirm: #812b2b !important;
  --color-background-confirm-hover: #a12929 !important;
  --color-text-confirm: white !important;
}
.tc-wrap {
  --color-background: rgba(144, 144, 144, 0.396) !important;
  --color-text-secondary: $ipa-text !important;
  --color-border: $link-text !important;
}

/* Lexicanter, a constructed language organization app.
   Copyright (C) 2023 Ethan Ray.
   See GNU General Public License Version 3.  */

/*# sourceMappingURL=pomegranate.css.map */
