/* Error: Expected newline.
 *   ,
 * 6 | :root {
 *   |       ^
 *   '
 *   src/sass/purple_maar.sass 6:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 6 \2502  :root {\a   \2502        ^\a   \2575 \a   src/sass/purple_maar.sass 6:7  root stylesheet";
}
