body {
  color: rgb(92, 31, 94);
  background-color: rgb(114, 60, 116);
}

button, select {
  color: rgb(199, 151, 211);
  background-color: rgb(228, 212, 228);
}
button[id=overwrite], select[id=overwrite] {
  color: darkred;
}
button.inflection, select.inflection {
  background-color: transparent !important;
  border: none !important;
  font-family: Noto;
  font-size: 9pt;
}

.hover-highlight:hover {
  color: rgb(172, 71, 212);
}

.hover-shadow:hover {
  box-shadow: 0px 2px 12px #444444;
}

.tab-container .button-container, .tab-container .button-container button {
  color: rgb(209, 182, 216);
  background-color: rgb(56, 18, 68);
}
.tab-container .button-container:hover, .tab-container .button-container button:hover {
  color: rgb(172, 71, 212);
}

.selected {
  background-color: rgb(114, 60, 116) !important;
}

.container {
  background-color: rgb(225, 211, 230);
  border: 1px solid rgb(212, 184, 223);
}

.info {
  color: rgb(177, 145, 184);
}

.version-info {
  color: rgb(147, 82, 172);
}

.lex-entry, .lex-body {
  color: rgb(141, 84, 173);
}
.lex-entry:hover {
  background: rgb(114, 60, 116);
  color: rgb(225, 211, 230);
}

svg .lex-entry, svg .lex-body {
  fill: rgb(141, 84, 173);
}
svg .lex-entry:hover {
  background-color: rgb(114, 60, 116);
  fill: rgb(225, 211, 230);
}
svg .tag-item {
  fill: rgb(141, 84, 173);
  font-weight: bold;
}
svg rect.lex {
  fill: transparent;
  transition: 0.3s;
  rx: 10;
  height: 3em;
  padding: 5px;
}
svg rect.lex:hover, svg rect.lex:has(~ :hover) {
  fill: rgb(114, 60, 116);
}
svg path {
  stroke: rgb(141, 84, 173);
}

.tag-item, [id=entry-counter] {
  color: rgb(172, 71, 212);
  background-color: rgb(209, 182, 216);
}

.pronunciation {
  color: rgb(177, 145, 184);
}

.lect {
  color: rgb(177, 145, 184);
}

hr {
  border: 1px solid rgb(92, 31, 94);
  border-left: none;
  border-right: none;
  border-top: none;
}

label {
  color: rgb(147, 82, 172);
}

textarea, input {
  color: rgb(92, 31, 94) !important;
  background-color: rgb(210, 181, 217);
}
textarea.pronunciation, input.pronunciation {
  background-color: transparent;
}
textarea.pronunciation:hover, input.pronunciation:hover {
  background-color: rgb(218, 196, 224);
}
textarea[type=checkbox], input[type=checkbox] {
  background-color: transparent;
  border: 0.15em solid rgb(92, 31, 94);
}
textarea[type=checkbox]::before, input[type=checkbox]::before {
  background-color: rgb(144, 70, 147);
}

td {
  border: 1px solid rgb(212, 184, 223);
}

tr:nth-child(odd) {
  background-color: rgb(210, 181, 217);
}
tr:nth-child(even) {
  background-color: #e6d7ea;
}

::-webkit-resizer {
  background-color: rgb(114, 60, 116);
}
::-webkit-resizer:hover {
  background-color: rgb(212, 184, 223);
}
::-webkit-scrollbar-track {
  background-color: rgb(114, 60, 116);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 60, 116);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(212, 184, 223);
}

a {
  color: rgb(144, 70, 147);
  transition: 0.5s;
}
a:hover {
  color: rgb(172, 71, 212);
}

.ce-toolbar__settings-btn, .ce-toolbar__plus {
  color: rgb(92, 31, 94) !important;
}
.ce-toolbar:hover {
  background-color: rgb(228, 212, 228) !important;
}
.ce-conversion-tool {
  background-color: rgb(228, 212, 228) !important;
}
.ce-conversion-toolbar {
  background-color: rgb(209, 182, 216) !important;
}
.ce-conversion-tool:hover {
  background-color: rgb(177, 145, 184) !important;
}
.ce-popover, .ce-popover--opened {
  background-color: rgb(228, 212, 228) !important;
}
.ce-popover__item {
  background-color: rgb(228, 212, 228) !important;
}
.ce-popover__item:hover {
  background-color: rgb(177, 145, 184) !important;
}
.ce-inline-tool {
  background-color: rgb(209, 182, 216) !important;
}
.ce-inline-tool:hover {
  background-color: rgb(177, 145, 184) !important;
}
.ce-inline-toolbar, .ce-inline-toolbar__dropdown, .ce-inline-toolbar__buttons {
  background-color: rgb(209, 182, 216) !important;
}
.ce-paragraph[data-placeholder]:empty::before {
  color: rgb(177, 145, 184) !important;
}

.tc-popover {
  --color-border: rgb(144, 70, 147) !important;
  --color-background: rgb(209, 182, 216) !important;
  --color-background-hover: rgb(228, 212, 228) !important;
  --color-background-confirm: #812b2b !important;
  --color-background-confirm-hover: #a12929 !important;
  --color-text-confirm: white !important;
}
.tc-wrap {
  --color-background: rgba(255, 255, 255, 0.396) !important;
  --color-text-secondary: rgb(177, 145, 184) !important;
  --color-border: rgb(144, 70, 147) !important;
}

table {
  border-color: rgb(144, 70, 147);
}

.inflection td {
  border-color: rgb(144, 70, 147) !important;
  background-color: transparent !important;
}
.inflection tr {
  background-color: transparent !important;
}

.milkyWay {
  width: 100px;
  height: 100px;
  background: transparent;
  margin: auto;
  position: relative;
  border-radius: 50%;
}
.milkyWay .planet {
  border: 1px solid rgb(56, 9, 44);
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
.milkyWay .planet::before, .milkyWay .planet::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
}
.milkyWay > div {
  position: absolute;
  border-radius: 50%;
}

.sun {
  background: #faca09;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 45%;
}

.mercury {
  width: 20%;
  height: 20%;
  top: calc(40% - 1px);
  left: calc(40% - 1px);
  animation-duration: 2s;
}
.mercury::before {
  background: #9fb5b6;
  width: 16%;
  height: 16%;
  top: -8%;
  left: 42%;
}

.venus {
  width: 30%;
  height: 30%;
  top: calc(35% - 1px);
  left: calc(35% - 1px);
  animation-duration: 3s;
}
.venus::before {
  background: #ECC98E;
  width: 10%;
  height: 10%;
  top: -5%;
  left: 45%;
}

.earth {
  width: 40%;
  height: 40%;
  top: calc(30% - 1px);
  left: calc(30% - 1px);
  animation-duration: 4s;
}
.earth::before {
  background: #208fd8;
  width: 10%;
  height: 10%;
  top: -5%;
  left: 45%;
}
.earth::after {
  background: #33c470;
  width: 10%;
  height: 6%;
  top: -3%;
  left: 45%;
  transform: rotate(45deg);
}

.mars {
  width: 50%;
  height: 50%;
  top: calc(25% - 1px);
  left: calc(25% - 1px);
  animation-duration: 5s;
}
.mars::before {
  background: #d35400;
  width: 6%;
  height: 6%;
  top: -3%;
  left: 47%;
}

.jupiter {
  width: 60%;
  height: 60%;
  top: calc(20% - 1px);
  left: calc(20% - 1px);
  animation-duration: 6s;
}
.jupiter::before {
  background: #d4975a;
  width: 10%;
  height: 10%;
  top: -5%;
  left: 45%;
}

.saturn {
  width: 70%;
  height: 70%;
  top: calc(15% - 1px);
  left: calc(15% - 1px);
  animation-duration: 7s;
}
.saturn::before {
  background: #E4D191;
  width: 7%;
  height: 7%;
  top: -4%;
  left: 48%;
}
.saturn::after {
  background: #F0E4C1;
  width: 12%;
  height: 1%;
  top: -1%;
  left: 45.5%;
  transform: rotate(-15deg);
}

.uranus {
  width: 80%;
  height: 80%;
  top: calc(10% - 1px);
  left: calc(10% - 1px);
  animation-duration: 8s;
}
.uranus::before {
  background: #3498db;
  width: 5%;
  height: 5%;
  top: -2%;
  left: 48%;
}
.uranus::after {
  background: #b0d0e5;
  width: 8%;
  height: 0.5%;
  top: 0%;
  left: 46.25%;
  transform: rotate(-15deg);
}

.neptune {
  width: 90%;
  height: 90%;
  top: calc(5% - 1px);
  left: calc(5% - 1px);
  animation-duration: 9s;
}
.neptune::before {
  background: #1269a3;
  width: 4%;
  height: 4%;
  top: -1%;
  left: 49%;
}
.neptune::after {
  background: #91cbf2;
  width: 6%;
  height: 0.5%;
  top: 0.5%;
  left: 48%;
  transform: rotate(-15deg);
}

.pluto {
  width: 100%;
  height: 100%;
  top: calc(0% - 1px);
  left: calc(0% - 1px);
  animation-duration: 10s;
}
.pluto::before {
  background: #b78c7a;
  width: 2%;
  height: 2%;
  top: -0.5%;
  left: 49%;
}

@keyframes orbit {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* Lexicanter, a constructed language organization app.
   Copyright (C) 2023 Ethan Ray.
   See GNU General Public License Version 3.  */

/*# sourceMappingURL=wisteria.css.map */
