:root {
    --emerald: rgb(81, 141, 104);
    --meadow: rgb(48, 61, 51);
    --glenn: rgb(99, 85, 61);
    --jasmine: rgb(138, 180, 163);
    --glade: rgb(37, 58, 37);
    --deep-wood: rgb(41, 33, 25);
    --evergreen: rgb(65, 119, 72);
    --fern: rgb(81, 134, 113);
    --spruce: rgb(54, 78, 58);
    --oak: rgb(68, 56, 44);
    --fir: rgb(110, 99, 79);
    --pine: rgb(160, 149, 130);
}

/* The background color and default text color. */
body {
    color: var(--emerald);
    background-color: var(--glade);
}

/* Default buttons and dropdowns use this style. */
button, select {
    color: var(--fir);
    background-color: var(--oak);
}

/* This style is used for the buttons which appear to warn the user that they will be overwriting an existing entry. */
button[id=overwrite] {
    color: rgb(180, 0, 0);
}

/* The following two styles are used for most buttons on mouse hover. */
.hover-highlight:hover {
    color: var(--pine) !important;
}
.hover-shadow:hover {
    box-shadow: 0px 2px 12px rgb(52, 52, 52);
}

/* This style applies to table-editing buttons. By default, the colors are the same as normal buttons */
.table-container:focus-within .show-in-context button {
    color: inherit;
}

/* This style is for the table-editing buttons when the mouse is hovering over them. */
.table-container:focus-within .show-in-context button:hover {
    color: var(--jasmine);
    background-color: var(--evergreen);
}

/*
.button-container wraps the buttons which are used to flip between the tabs. Its background-color is only seen along the top of the screen in the tab selector. 
The buttons within this container are styled the same so that they are flush, and appear as tabs.
*/
.tab-container .button-container,
.tab-container .button-container button {
    color: var(--glenn);
    background-color: var(--deep-wood);
}

/* This style applies to the button for the selected tab. By default it is the same as the body background-color. The !important flag is important for any styles used here. */
.selected {
    background-color: var(--glade) !important;
}

/* Colors and border style used for all of the panes within each tab. */
.container {
    color: var(--jasmine);
    background-color: var(--spruce);
    border: 1px solid var(--evergreen);
}

/* This style is used for placeholder information/tooltips, such as the instructions below the Create Table button in the Tables tab. */
.info {
    color: var(--fern);
}

/* This style is used solely for the version indicator in the top right. */
.version-info {
    color: var(--glenn);
}

/* The default color styling for text in the lexicon and phrasebook. */
.lex-body {
    color: var(--jasmine);
}

/* This is the style used for lexicon entries when the mouse is hovering over them. */
.lex-entry:hover { 
    background: var(--oak);
}

/* These are the colors used for tags as they appear in the lexicon. */
.tag-item {
    color: var(--pine);
    background-color: var(--glenn);
}

/* The style used for pronunciation indicators beneath words and phrases. */
.pronunciation {
    color: var(--fern);
}

/* The colors used for the entry counter/search results counters in the Lexicon tab. */
[id=entry-counter] {
    color: var(--jasmine);
    background-color: var(--evergreen);
}

/* This style is used for dividers such as the one in the Categories pane of the Phrasebook tab. */
hr {
    border: 1px solid rgb(95, 129, 112);
}

/* The styles used for the labels which indicate the purpose of input fields, such as 'New Word' and 'Definition' */
label {
  color: var(--emerald);
}

/* Default colors for text input fields. */
textarea, input {
    color: var(--jasmine) !important;
    background-color: var(--meadow);
}
/* The background color for pronunciation-specific text input fields blends into the background color. */
input[class=pronunciation],
textarea[class=pronunciation] {
    background-color: transparent;
}

/* Style used for pronunciation-specific text input fields on mouse hover. */
input[class=pronunciation]:hover,
textarea[class=pronunciation]:hover {
    background-color: var(--meadow);
}

/* The style used for table cells. */
td {
  border: 1px solid var(--deep-wood);
  color: var(--pine);
}

/* Styles used for alternating rows in tables. */
tr:nth-child(odd) {
    background-color: var(--oak);
}
tr:nth-child(even) { 
    background-color: var(--glenn);
}

/* The header class style is currently unused, until I can work out the best way to make header rows and columns user-definable. */
td[class=header] {
    background-color: #666;
    font-weight: bold;
}

/* All of the used scrollbar color settings. */
::-webkit-scrollbar-track {
    background-color: var(--meadow);
}
::-webkit-scrollbar-thumb {
    background-color: var(--glade);
}  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--evergreen);
}
::-webkit-resizer {
    background-color: var(--meadow);
}

/* The border and background colors for checkmarks. Default themes make the background transparent. */
input[type="checkbox"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0.15em solid var(--fern);
}

/* The color of the checkmark in checkboxes. */
input[type="checkbox"]::before {
    background-color: var(--jasmine);
}

/* Link styles */ 
a { color: var(--pine); transition: 0.5s; }
a:hover { color: var(--jasmine); }
