@font-face {
  font-family: Noto;
  src: url(rsrc/Noto_Sans/NotoSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: Noto;
  src: url(rsrc/Noto_Sans/NotoSans-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Noto;
  src: url(rsrc/Noto_Sans/NotoSans-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Noto;
  src: url(rsrc/Noto_Sans/NotoSans-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Gentium;
  src: url(rsrc/Gentium/Gentium-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: Gentium;
  src: url(rsrc/Gentium/Gentium-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Gentium;
  src: url(rsrc/Gentium/Gentium-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Gentium;
  src: url(rsrc/Gentium/Gentium-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: Noto;
  font-size: 14px;
  color: rgb(190, 190, 190);
  background-color: rgb(48, 48, 48);
  min-width: 500px;
  min-height: 500px;
  margin: 0px;
  overflow: hidden;
}

button {
  font-family: Noto;
  font-size: 14px;
  color: rgb(170, 170, 170);
  transition-duration: 0.33s;
}
button[id=overwrite] {
  color: darkred;
  font-weight:bold
}

.table-container .show-in-context {
  display:none;
}

.table-container:focus-within .show-in-context {
  display:inline-flex;
}

.table-container:focus-within .show-in-context button {
  border-radius: 0px;
  font-size: 12px;
}
.table-container:focus-within .show-in-context button:hover {
  color:rgb(146, 146, 146);
  background-color:rgb(26, 26, 26);
}

.tab-container {
  width: 100vw;
  height: 100vh;
}

.tab-container .button-container {
  width: 100%;
  background-color: rgb(20, 20, 20);
  text-align: center;
}

.tab-container .button-container button {
  background-color: rgb(20, 20, 20);
  border: none;
  outline: none;
  padding: 4px;
  height: 100%;
  width: fit-content;
}

.tab-container .tab-pane {
  height: 80%;
  box-sizing: border-box;
  display: none;
}

.row {display: flex;}
.column {flex: 50%}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.prelined {white-space: pre-line;} /* This is solely to make the \n character work from the JS side */

p {margin: 0px;}

.info {
  font-size: 14px;
  font-style: italic;
  color:rgb(100, 100, 100);
  line-height: 1.5em;
}

.phonology {
  width: 95%;
  font-family: Gentium;
  font-size: 15px;
}

.version-info {
  text-align: left;
  font-size: 10px;
  color:rgb(120, 120, 120);
  display: inline;
  float: right;
}

.lex-body {
  color: rgb(80, 80, 80);
  font-family: Gentium;
  font-size: 15px;
}

.variants {
  font-size: 14px
}

.variants div.column {
  margin: .6em;
}

.capitalize {
  text-transform: capitalize;
}

.lex-entry {
  transition: .3s;
  padding: 1em;
  font-family: Gentium;
  font-size: 15px;
}
.lex-entry:hover { background: rgb(90, 90, 90); }

.selected {
  background: rgb(80, 80, 80);
  color: rgb(170, 170, 170);
}

.tag-item {
  color:rgb(170, 170, 170);
  background-color: rgb(80, 80, 80);
  border-radius: 4px;
  width: fit-content;
  font-family: Noto;
  font-size: 9px;
  text-transform: uppercase;
  padding: .2em;
  margin: .2em;
  display: inline-block;
}

hr {
  border-top:rgb(170, 170, 170);
}

[id=entry-counter] {
  color:rgb(120, 120, 120);
  background-color: rgb(62, 62, 62);
  border-radius: 4px;
  width: fit-content;
  font-family: Noto;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: .2em;
  margin: auto;
}

.scrolled {
  max-height: 72vh;
  overflow-y: auto;
  overflow-x: wrap;
}

.container {
  background-color: rgb(36, 36, 36);
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  margin: 6px;
  padding: 6px;
}

.row button {
  background-color:rgb(80, 80, 80);
  padding: 2px 10px 2px 10px;
  margin: 4px auto 4px auto;
  display: flex;
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
}

.hover-highlight:hover {color: white;}
.hover-shadow:hover {box-shadow: 0px 2px 12px rgb(26, 26, 26);}

label {
  font-size: 13px;
  color:rgb(128, 128, 128);
}

textarea, input {
  font-family: Gentium;
  font-size: 15px;
  color: lightgray;
  background-color: rgb(20, 20, 20);
  display: flex;
  text-align: center;
  padding: 4px;
  margin: 1px auto 1px auto;
  border: none;
  border-radius: 3px;
  width: 80%;
}

.header input {width: 70%;}

input[type=number] {
  padding: 1px;
  width: 4em;
}

.narrow {
  width: 50%;
  margin: auto;
}

.narrow-col {
  width: 15%;
}

textarea {resize: vertical;}

.search {
  text-align: left;
  width: 90%;
  margin: 2px auto 2px auto;
}

.pronunciation {
  color: rgb(146, 146, 146);
  font-size: 13px;
}

input[class=pronunciation] {
  background-color: inherit;
  font-size: 13px;
  transition: .2s;
}

input[class=pronunciation]:hover {
  background-color: rgb(80, 80, 80);
}

.table-container { 
  font-family: Gentium;
  font-size: 15px;
  margin: auto; 
  padding: 30px 5%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-title {
  font-family: Gentium;
  font-style: italic;
  font-size: 17px;
}

td { 
  border: 1px solid black;
  padding: 2px 6px 2px 6px;
  user-select: none;
}

td[class=header] { background-color: #333; font-weight: bold; }
/* The header class style is currently unused, until I can work out the best way to make
   header rows and columns user-definable.  */

tr:nth-child(odd) {background-color: #555;}
tr:nth-child(even) { background-color: #777; }
